.birthday {
  border: 1px solid #dbdbdb;
  background-color: white;
  width: 350px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 350px;
  height: fit-content;
  font-family: 'Billabong', sans-serif;
  &__icon {
    margin-top: 40px;
    height: 96px;
    width: 144px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__desc{
    margin: 20px 20px 5px;
    text-align: center;
  }
  &__question{
    color: #0095f6;
  }

  &__selects{
    display: flex;
    justify-content: flex-start;
  }
}
.description{
  opacity: 0.5;
  text-align: center;
}
.buttons{
  display: flex;
  flex-direction: column;
  &__next{
    margin-top: 5px;
    color: white;
    width: 250px;
    height: 40px;
    background: #d8d5eb;
    text-align: center;
    padding-top: 8px;
  }
  &__back{
    margin-bottom: 10px;
    color: #20f;
    text-align: center;
    padding-top: 10px;
  }
}
